* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  background-color: #f5f5f5;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Alata';
    color: #777777;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Alata';
}

input[type="text"],
select {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23333' d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px;
  padding-right: 30px;
}

button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #169f92;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003d80;
}

img {
    background-image: url(ruta/de/la/imagen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
}
p#result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: #0c9588;
    background-color: #ededed;
    padding: 10px;
    border-radius: 20px;
}
